<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MudBlazor Ecommerce</title>
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
